In [1]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbours in neighbours:
                queue.append(neighbours)
    return visited

In [5]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [7]:
# o amin ------------
# |        |         |
# o wasim  o nick    o mike
# |
# o imran
# |
# o faras

bfs(graph, 'Amin')

['Amin', 'Wasim', 'Mike', 'Nick', 'Imran', 'Faras']

In [6]:
# o wasim ----
# |          |
# o imran    o amin ----
# |          |          |
# o faras    o nick     o mike

bfs(graph, 'Wasim')

['Wasim', 'Amin', 'Imran', 'Mike', 'Nick', 'Faras']

In [12]:
# o faras 
# |
# o imran
# |
# o wasim o nick o mike
# |       |      |
# o amin ----------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Mike', 'Nick']

In [15]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [16]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek1',
 'Warek2',
 'Kaprodi2',
 'Kaprodi1',
 'Kaprodi3',
 'Dosen E',
 'Dosen D',
 'Dosen B',
 'Dosen A',
 'Dosen C',
 'Dosen F',
 'Dosen G']

In [19]:
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
         dfs(graph, next, visited)
    return visited

In [23]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' :{'Amin'},
         'Nick' :{'Amin'}}

In [25]:
bfs(graph, 'Amin')

['Amin', 'Wasim', 'Mike', 'Nick', 'Imran', 'Faras']

In [36]:
# o amin --------------
# |          |          |
# o wasim    o nick     o mike
# |         
# o imran
# |
# o faras 
# 
# turun dari amin ke faras, geser ke nick & mike

dfs(graph, 'Amin')

Amin
Wasim
Imran
Faras
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [35]:
# o amin --------------
# |          |          |
# o wasim    o nick     o mike
# |         
# o imran
# |
# o faras 

dfs(graph, 'Wasim')

Wasim
Amin
Mike
Nick
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [37]:
# o amin --------------
# |          |          |
# o wasim    o nick     o mike
# |         
# o imran
# |
# o faras 

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [38]:
# o amin --------------
# |          |          |
# o wasim    o nick     o mike
# |         
# o imran
# |
# o faras 

dfs(graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [40]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Kaprodi3')

Kaprodi3
Warek2
Rektor
Warek1
Kaprodi2
Dosen E
Dosen D
Kaprodi1
Dosen B
Dosen A
Dosen C
Dosen F
Dosen G

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}